.question {
	cursor: pointer;
	
	.question__title {
		
	}
	
	.answers {
		.answers__title {
			font-weight: 700;
		    font-size: 15px;
		    color: #999;
		    margin-bottom: 4px;
		    padding-bottom: 4px;
		    display: inline-block;
		}
		
		.answer {
			position: relative;
			padding: 8px;
			border: 2px solid #ccc;
			border-radius: 4px;
			margin-bottom: 8px;
			
			.answer__menu{
				height: 30px;
				
				.answer__direction{
					margin-right: 8px;
					float: right;
				}
				.answer__trash{
					float: right;
				}
			}
			
			.multiple-choice__answer, {
				.multiple-choice__answer-is-correct{
					position: absolute;
    				top: 8px;
				}
			}
			
			.multiple-response__answer{
				.multiple-response__answer-is-correct{
					position: absolute;
    				top: 8px;
				}	
			}
			
			.gap-fill__answer{
				.gap-fill__condition{
					.gap-fill__condition-icon{
						width: 25%;
					}
					.gap-fill__condition-expression{
						width: 70%;
						float: right;
					}
				}
			}
			
			.numerical-fill-in-blank__answer{
				.numerical-fill-in-blank__condition{
					.numerical-fill-in-blank__condition-icon{
						width: 20%;
					}
					.numerical-fill-in-blank__condition-expression{
						width: 75%;
						float: right;
					}
				}
			}
			
			
		}
	}
}