.test {
	.test__title {
		margin-bottom: 24px;
	}
	
	.sections {
		.section-container {
			margin-bottom: 16px;
			.section {
				.section__description{
					position: relative;
					cursor: pointer;
					padding-right: 24px;
					
					.section__title {
						word-break: break-word;
					}
					.section__question-count{
						
					}
					.section__caret {
						position: absolute;
					    top: 50%;
					    right: 8px;
					    transform: translateY(-50%);
					}
				}
				
				.section__additional{
					padding: 12px;
					
					.section__menu{
						
					}
					
					.questions {
						.question {
							cursor: pointer;
							.question__title {
								
							}
							
							.answers {
								.answer {
									.answer__title {
										
									}
								}
							}
						}
					}
				}
			}
		}
	}
}